# Ignora arquivos Git e GitHub
.git
.github/

# Ignora arquivos de configuração do Husky
.husky/

# Ignora documentação e arquivos de metadados
CONTRIBUTING.md
LICENSE
README.md

# Ignora exemplos de ambiente e informações sensíveis
.env
*.local
*.example

# Ignora módulos node, logs e arquivos de cache
**/*.log
**/node_modules
**/dist
**/build
**/.cache
logs
dist-ssr
.DS_Store
